.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.login-header img {
    width: 100px;
}

.login-header h1 {
    font-size: 1.5em;
    color: #333;
}

.login-input {
    padding: 15px;
    margin-bottom: 15px;
    max-width: 300px;
    width: 100%;
    font-size: 1em;
    border-radius: 8px;
    border: 2px solid #333;
    color: #333;
    outline: none;

}

.login-button {
    background-color: #ee665c;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    max-width: 300px;
    padding: 15px;
    width: 100%;
  }

.login-button:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: auto;
}
